<section class="author">
  <div id="author"></div>
	<script type="text/javascript">

      const alberic = '"A sable cloak is just a sable cloak and a poulet po&ecirc;le &agrave; l\'estragon is really just &nbsp;another roast chicken."'
      const allen = '"Everybody knows how awful the world is and what a terrible situation it is and &nbsp;each&nbsp;person distorts it in a certain way that enables him to get through."'
      const bloch = '"The more things you learn and the younger you learn them, the better off you are."<br>'
      const christof = '"We accept the reality of the world with which we\'re presented."<br>'
      const einstein = '"Of all the communities available to us there is not one that I would devote myself to, &nbsp;except for the society of true searchers, which has few living members at any time."'
      const crows = '"How much can a crown be worth, when a crow can dine upon a king?"<br>'
      const istambulova = '"When I was working, my days were running one by one."<br>'
      const leanne = '"Kitchen skill, not budget, is the key to great food."<br>'
      const musashi = '"Strategy is different from other things in that if you mistake the Way even a little you &nbsp;will become bewildered and fall into bad ways."'
      const plumm = '"Silver’s sweet and gold’s our mother, but once you’re dead they’re worth less than &nbsp;that last shit you take as you lie dying."'
      const robert = '"I ask you, Ned, what good is it to wear a crown? The gods mock the prayers of &nbsp;kings and cowherds alike."'
      const sagan = '"Every saint and sinner in the history of our species lived there &ndash; on a mote of dust &nbsp;suspended in a sunbeam."'
      const xaro = '"The justice of your cause means naught to the common men of Qarth. Why should &nbsp;my sailors care who sits on the throne of some kingdom at the edge of the world?”'
      const walk = '"Thinking. That’s the day’s business. Thinking and isolation, because it doesn’t &nbsp;matter if you pass the time of day with someone or not; in the end, you’re alone."'
      const yakko = '"United States, Canada, Mexico, Panama, Haiti, Jamaica, Peru! &nbsp;Republic&nbsp;Dominican, Cuba, Caribbean, Greenland, El Salvador too!"'
      const haldane = '"India may of course break up, but it is a wonderful experiment. So, I want to be &nbsp;labeled as a citizen of India."'
      const orwell = '"Theoretically &mdash; and secretly, of course &mdash; I was all for the Burmese and all against &nbsp;their oppressors, the British."'
      const catelyn = '"We\'re all just songs in the end. If we are lucky."<br>'
      const aegon = '"Send the lords home to their own keeps and give the food to the hungry. Full bellies &nbsp;and dancing bears shall be my policy."'
      const cioran = '"Only false values prevail, because everyone can assimilate them, counterfeit them. &nbsp;An idea that succeeds is necessarily a pseudo-idea."'
      const tolstoy = '"What does it mean that thirty thousand rather weak and ordinary people have &nbsp;enslaved two hundred millions of vigorous, clever, capable, freedom-loving people?"'
      const asimov = '"Democracy cannot survive overpopulation. Human dignity cannot survive it. &nbsp;Convenience and decency cannot survive it."'
      const holodomor = '"What do you do if there\'s nothing to eat? We collected birch leaves and toasted &nbsp;them and ate them. What else could we do?"'
      const kiss = '"There was a 10- to 15-year period in the \'60s and \'70s that gave birth to almost &nbsp;every artist we now call iconic or classic."'
      const dylan = '"They had to dismantle it, starting with payola scandals. The black element was &nbsp;turned into soul music, and the white element was turned into English pop."'
      const immortal = '"Anderssen\'s achievement in that game, sacrificing queen and rooks to force mate, &nbsp;is perhaps unparalleled in chess literature."'
      const kubrick = '"This suggests the failure of culture to have any morally refining effect on society. &nbsp;Many Nazis were cultured men, but it didn\'t do them, or anyone else, much good."'
      const covid = '"Around 90 million children who would normally receive school meals are no longer &nbsp;able to do so following the education shutdown across India."'
      const clarence = '"They certainly don\'t see themselves as being like the bigots in the South. Well, I\'ve &nbsp;lived both experiences. And I really don\'t see that they\'re any different from them."'
      const dawkins = '"If there is ever a time of plenty, this very fact will automatically lead to an increase in &nbsp;population until the natural state of starvation and misery is restored."'
      const patnaik = '"Denial of food is a very potent weapon in the imperialist armoury, and they use it ruthlessly."'

      const imagesAndVideos = [
                                 {% if page.box == 'race' %}
                                 // ["https://i.imgur.com/HaVZTeZ.jpg", "https://www.youtube.com/embed/Q9UsEbi1Xks", christof],
                                 ["https://i.imgur.com/A5EUz9q.jpg", "http://www.visual-memory.co.uk/amk/doc/interview.aco.html", kubrick],
                                 // ["https://i.imgur.com/zM7acfg.jpg", "https://abcnews.go.com/TheLaw/story?id=3664143", clarence],
                                 {% elsif page.box == 'india' %}
                                 ["https://i.imgur.com/8U4x3hb.jpg", "https://en.wikipedia.org/wiki/J._B._S._Haldane#In_India", haldane],
                                 ["https://i.imgur.com/RtosGfI.jpg", "http://orwell.ru/library/articles/elephant/english/e_eleph", orwell],
                                 ["https://i.imgur.com/7HaNtrz.jpg", "http://members.optusnet.com.au/exponentialist/Asimov.htm", asimov],
                                 ["https://i.imgur.com/IF244tM.jpg", "https://www.rferl.org/a/1103170.html", holodomor],
                                 ["https://i.imgur.com/zVTJc2Q.jpg", "https://peoplesdemocracy.in/2020/0614_pd/imperialism-and-india%E2%80%99s-food-economy", patnaik],
                                 {% elsif page.box == 'tutorial' %}
                                 ["https://i.imgur.com/hp2MdWL.png", "https://www.goodreads.com/notes/30238165-coders-at-work/71655209-daniel-moore", bloch],
                                 {% elsif page.box == 'game-of-thrones' %}
                                 ["https://i.imgur.com/RYqrmC6.jpg", "https://www.goodreads.com/notes/6421982-a-game-of-thrones/71655209-daniel-moore", robert],
                                 ["https://i.imgur.com/CF4Iars.jpg", "https://www.goodreads.com/notes/6584437-a-clash-of-kings/71655209-daniel-moore", xaro],
                                 ["https://i.imgur.com/l716WKC.jpg", "https://www.goodreads.com/notes/18626828-a-dance-with-dragons/71655209-daniel-moore", plumm],
                                 ["https://i.imgur.com/LiDM9Lt.jpg", "https://www.goodreads.com/notes/18626829-a-feast-for-crows/71655209-daniel-moore", crows],
                                 ["https://i.imgur.com/Up6GEY4.jpg", "https://www.goodreads.com/notes/6307964-a-storm-of-swords/71655209-daniel-moore", catelyn],
                                 ["/assets/img/asoiaf/aegon-iii.jpg", "https://www.goodreads.com/notes/39943902-fire-blood/71655209-daniel-moore", aegon],
                                 {% elsif page.box == 'borders-quiz' %}
                                 ["https://i.imgur.com/vSCpAZc.png", "https://www.youtube.com/embed/7Fx13mi_Yj0", yakko],
                                 ["https://i.imgur.com/g55WhfM.png", "https://www.youtube.com/embed/wupToqz1e2g", sagan],
                                 {% elsif page.box == 'random-acclaimed-song' %}
                                 ["https://i.imgur.com/wyJwnBa.jpg", "https://www.esquire.com/entertainment/music/interviews/a26330/gene-simmons-future-of-rock/", kiss],
                                 ["https://i.imgur.com/OFoEt3E.jpg", "https://medium.com/cuepoint/like-it-is-bob-dylan-explains-what-really-killed-rock-n-roll-f6a4b6587a1a", dylan],
                                 {% elsif page.box == 'schopenhauer' %}
                                 ["https://i.imgur.com/jtVJF6Hb.jpg", "https://www.goodreads.com/notes/11697482-alberic-the-wise/71655209-daniel-moore", alberic],
                                 ["https://i.imgur.com/YzqRXJI.jpg", "https://www.goodreads.com/notes/19196310-river-out-of-eden/71655209-daniel-moore", dawkins],
                                 ["https://i.imgur.com/kPIXsbI.jpg", "https://www.goodreads.com/notes/28165439-the-long-walk/71655209-daniel-moore", walk],
                                 ["https://i.imgur.com/lDcaM4o.jpg", "https://www.commonwealmagazine.org/interview-woody-allen", allen],
                                 ["/assets/img/cioran.jpg", "https://www.goodreads.com/notes/50757709-the-trouble-with-being-born/71655209-daniel-moore", cioran],
                                 ["/assets/img/istambulova.jpg", "https://www.express.co.uk/news/world/960469/Oldest-person-in-the-world-russia-Koku-Istambulova-chechnya#singleArticle", istambulova],
                                 {% elsif page.box == 'chess-puzzles' %}
                                 ["https://i.imgur.com/gbpTFJ5.png", "https://en.wikipedia.org/wiki/Immortal_Game#content", immortal],
                                 {% else %}
                                 ["https://i.imgur.com/hGwPYVo.jpg", "http://www.mathpages.com/home/quotes.htm", einstein],
                                 ["https://i.imgur.com/lgACrR3.jpg", "https://www.goodreads.com/notes/31197112-the-book-of-five-rings/71655209-daniel-moore", musashi],
                                 {% endif %}
                              ]

      imgVid = imagesAndVideos[Math.floor(Math.random() * imagesAndVideos.length)]
      document.querySelector("#author").innerHTML = `<a href='${imgVid[1]}'><div class="authorimage box"><img title="Click me!" src='${imgVid[0]}'/></div></a>
                                                     <div class="authorinfo box">
                                                     <p>Author | {{ site.author }}</p>
                                                     <p class="bio"><a title="Click Me!" class='reverse' style='text-decoration:none;border-bottom:none;' href='${imgVid[1]}'>${imgVid[2]}</a><br/></p></div>`
  </script>
</section>
