<section class="author">
  <div id="author"></div>
	<script type="text/javascript">

      const albericMsg = '"A sable cloak is just a sable cloak and a poulet po&ecirc;le &agrave; l\'estragon is really just &nbsp;another roast chicken."'
      const allenMsg = '"Everybody knows how awful the world is and what a terrible situation it is and &nbsp;each&nbsp;person distorts it in a certain way that enables him to get through."'
      const blackerMsg = '"Decrying such individuals would be, as they say, like handing out speeding tickets &nbsp;at the Indianapolis 500. They speed because they have to."'
      const blochMsg = '"The more things you learn and the younger you learn them, the better off you are."<br>'
      const christofMsg = '"We accept the reality of the world with which we\'re presented."<br>'
      const einsteinMsg = '"Of all the communities available to us there is not one that I would devote myself to, &nbsp;except for the society of true searchers, which has few living members at any time."'
      const crowsMsg = '"How much can a crown be worth, when a crow can dine upon a king?"<br>'
      const leanneMsg = '"Kitchen skill, not budget, is the key to great food."<br>'
      const musashiMsg = '"Strategy is different from other things in that if you mistake the Way even a little you &nbsp;will become bewildered and fall into bad ways."'
      const plummMsg = '"Silver’s sweet and gold’s our mother, but once you’re dead they’re worth less than &nbsp;that last shit you take as you lie dying."'
      const robertMsg = '"I ask you, Ned, what good is it to wear a crown? The gods mock the prayers of &nbsp;kings and cowherds alike."'
      const saganMsg = '"Every saint and sinner in the history of our species lived there &ndash; on a mote of dust suspended in a sunbeam."'
      const xaroMsg = '"The justice of your cause means naught to the common men of Qarth. Why should &nbsp;my sailors care who sits on the throne of some kingdom at the edge of the world?”'
      const walkMsg = '"Thinking. That’s the day’s business. Thinking and isolation, because it doesn’t &nbsp;matter if you pass the time of day with someone or not; in the end, you’re alone."'
      const yakkoMsg = '"United States, Canada, Mexico, Panama, Haiti, Jamaica, Peru! &nbsp;Republic&nbsp;Dominican, Cuba, Caribbean, Greenland, El Salvador too!"'
      const haldaneMsg = '"India may of course break up, but it is a wonderful experiment. So, I want to be &nbsp;labeled as a citizen of India."'
      const orwellMsg = '"Theoretically &mdash; and secretly, of course &mdash; I was all for the Burmese and all against &nbsp;their oppressors, the British."'
      const catelynMsg = '"We\'re all just songs in the end. If we are lucky."<br>'
      const aegonMsg = '"Send the lords home to their own keeps and give the food to the hungry. Full bellies &nbsp;and dancing bears shall be my policy."'
      const cioranMsg = '"One struggles, one labors, one sacrifices, apparently for oneself, actually for &nbsp;anyone at all, for some future enemy, for an unknown enemy."'

      const imagesAndVideos = [
                                 {% if page.box == 'race' %}
                                 ["https://i.imgur.com/HaVZTeZ.jpg", "https://www.amazon.com/Truman-Show-Jim-Carrey/dp/B072QLMDPX", christofMsg],
                                 {% elsif page.box == 'india' %}
                                 ["https://i.imgur.com/8U4x3hb.jpg", "https://en.wikipedia.org/wiki/J._B._S._Haldane#In_India", haldaneMsg],
                                 ["https://i.imgur.com/RtosGfI.jpg", "http://orwell.ru/library/articles/elephant/english/e_eleph", orwellMsg],
                                 {% elsif page.box == 'tutorial' %}
                                 ["https://i.imgur.com/hp2MdWL.png", "https://www.goodreads.com/notes/30238165-coders-at-work/71655209-daniel-moore", blochMsg],
                                 {% elsif page.box == 'game-of-thrones' %}
                                 ["https://i.imgur.com/RYqrmC6.jpg", "https://www.goodreads.com/notes/6421982-a-game-of-thrones/71655209-daniel-moore", robertMsg],
                                 ["https://i.imgur.com/CF4Iars.jpg", "https://www.goodreads.com/notes/6584437-a-clash-of-kings/71655209-daniel-moore", xaroMsg],
                                 ["https://i.imgur.com/l716WKC.jpg", "https://www.goodreads.com/notes/18626828-a-dance-with-dragons/71655209-daniel-moore", plummMsg],
                                 ["https://i.imgur.com/LiDM9Lt.jpg", "https://www.goodreads.com/notes/18626829-a-feast-for-crows/71655209-daniel-moore", crowsMsg],
                                 ["https://i.imgur.com/Up6GEY4.jpg", "https://www.goodreads.com/notes/6307964-a-storm-of-swords/71655209-daniel-moore", catelynMsg],
                                 ["/assets/img/asoiaf/aegon-iii.jpg", "https://www.goodreads.com/notes/39943902-fire-blood/71655209-daniel-moore", aegonMsg],
                                 {% elsif page.box == 'borders-quiz' %}
                                 ["https://i.imgur.com/vSCpAZc.png", "https://www.youtube.com/watch?v=7Fx13mi_Yj0", yakkoMsg],
                                 ["https://i.imgur.com/g55WhfM.png", "https://www.youtube.com/watch?v=wupToqz1e2g", saganMsg],
                                 {% elsif page.box == 'schopenhauer' %}
                                 ["https://i.imgur.com/kPIXsbI.jpg", "https://www.goodreads.com/notes/28165439-the-long-walk/71655209-daniel-moore", walkMsg],
                                 ["https://i.imgur.com/lDcaM4o.jpg", "https://www.commonwealmagazine.org/interview-woody-allen", allenMsg],
                                 ["https://i.imgur.com/4DwwovD.jpg", "https://www.goodreads.com/notes/20574045-the-falling-rate-of-learning-and-the-neoliberal-endgame/71655209-daniel-moore", blackerMsg],
                                 ["/assets/img/cioran.jpg", "https://www.goodreads.com/notes/24457126-drawn-and-quartered/71655209-daniel-moore", cioranMsg],
                                 {% else %}
                                 ["https://i.imgur.com/hGwPYVo.jpg", "http://www.mathpages.com/home/quotes.htm", einsteinMsg],
                                 ["https://i.imgur.com/jtVJF6Hb.jpg", "https://www.goodreads.com/notes/11697482-alberic-the-wise/71655209-daniel-moore", albericMsg],
                                 ["https://i.imgur.com/lgACrR3.jpg", "https://www.goodreads.com/notes/31197112-the-book-of-five-rings/71655209-daniel-moore", musashiMsg],
                                 ["https://i.imgur.com/lrNdIYU.jpg", "https://cookbooks.leannebrown.com/good-and-cheap.pdf", leanneMsg],
                                 {% endif %}
                              ]

      imgVidMsg = imagesAndVideos[Math.floor(Math.random() * imagesAndVideos.length)]
      document.querySelector("#author").innerHTML = `<a href='${imgVidMsg[1]}'><div class="authorimage box"><img title="Click me!" src='${imgVidMsg[0]}'/></div></a>
                                                     <div class="authorinfo box">
                                                     <p>Author | {{ site.author }}</p>
                                                     <p class="bio">${imgVidMsg[2]}<br/></p></div>`
  </script>
</section>